{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 id="pageHeading" class="govuk-heading-xl">Page not found</h1>
          <p id="para1" class="govuk-body">We have reported this to the team that manages the service and they will fix it as soon as possible.</p>
          <p id="para2" class="govuk-body">Contact us if you need to speak to someone.</p>
          <p id="para3" class="govuk-body">Telephone:
            <br>
            <strong class="govuk-!-font-weight-bold">0808 1234 1234</strong>
          </p>
          <p id="para4" class="govuk-body">Textphone:
            <br>
            <strong class="govuk-!-font-weight-bold">0808 1234 1234</strong>
          </p>
          <p id="para5" class="govuk-body">Outside UK:
            <br>
            <strong class="govuk-!-font-weight-bold">+44 0808 1234 1234</strong>
          </p>
          <p id="para6" class="govuk-body">Opening times:
            <br>
            <strong class="govuk-!-font-weight-bold">Monday to Friday: 8am to 8pm</strong>
          </p>
          <p id="para7" class="govuk-body">Closed Easter Sunday, Christmas Day, Boxing Day and New Year’s Day.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}