{% extends 'layout.html' %}


{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" id="pageTitle">Accessibility statement for ‘Declare elephant ivory you want to sell or hire out’</h1>
        <p class="govuk-body" id="para1">
          This accessibility statement applies to the ‘Declare elephant ivory you want to sell or hire out’ digital service.
        </p>

        <p class="govuk-body" id="para2">
          This service is run by the Department for Environment, Farming and Rural Affairs (Defra). We want as many people as possible to be able to use this service.
          For example, that means you should be able to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li id="listItem1">change colours, contrast levels and fonts</li>
          <li id="listItem2">zoom in up to 300% without the text spilling off the screen</li>
          <li id="listItem3">navigate most of the service using just a keyboard</li>
          <li id="listItem4">navigate most of the service using speech recognition software</li>
          <li id="listItem5">listen to most of the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>

        <p class="govuk-body" id="para3">
          We’ve also made text in the service as simple as possible to understand.
        </p>

        <p class="govuk-body" id="para4">
          <a class="govuk-link" href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has advice on making your device easier to use if you have a disability.
        </p>


      <h2 class="govuk-heading-m" id="h2-1">How accessible this website is</h2>
        <p class="govuk-body" id="para1-1">
          We know some parts of this website are not fully accessible:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li id="listItem1-1">TBC</li>
        </ul>


      <h2 class="govuk-heading-m" id="h2-2">Feedback and contact information</h2>
        <p class="govuk-body" id="para1-2">
          Let us know if you:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li id="listItem1-2">need help using this website</li>
          <li id="listItem2-2">find any problems not listed on this page or think we’re not meeting accessibility requirements</li>
        </ul>

        <p class="govuk-body" id="para2-2">
          Contact: <a class="govuk-link" href="mailto:help@apha.gov.uk">help@apha.gov.uk</a>
        </p>

        <h3 class="govuk-heading-s" id="h3-2a">Enforcement procedure</h3>
          <p class="govuk-body" id="para1-2a">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
            If you’re not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com">contact the Equality Advisory and Support Service (EASS)</a>.
          </p>

        <h3 class="govuk-heading-s" id="h3-2b">Contacting us by phone</h3>
          <p class="govuk-body" id="para1-2b">
            We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.
          </p>


      <h2 class="govuk-heading-m" id="h2-3">Technical information about this service’s accessibility</h2>
        <p class="govuk-body" id="para1-3">
          Defra is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>

        <h3 class="govuk-heading-s" id="h3-3a">Compliance status</h3>
          <p class="govuk-body" id="para1-3a">
            This service is fully compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21">Web Content Accessibility Guidelines version 2.1</a> AA standard.
          </p>


      <h2 class="govuk-heading-m" id="h2-4">Preparation of this accessibility statement</h2>
        <p class="govuk-body" id="para1-4">
          This statement was prepared on 19 May 2021. It was last reviewed on 19 May 2021.
        </p>

        <p class="govuk-body" id="para2-4">
          This service was fully tested on 19 May 2021. The test was carried out by the Digital Accessibility Centre (DAC).
        </p>
    </div>
  </div>
{% endblock %}
