{% extends 'form-layout.html' %}

{% from "govuk/components/button/macro.njk" import govukButton %}


{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" id="pageTitle">{{ pageTitle }}</h1>
      
        {% if not isSection2 %}
          {% if hasUsedChecker %}
            <p class="govuk-body" id="preListHeading">Based on your answers, your item may qualify as exempt from the ivory ban.</p>
          {% endif %}
        {% endif %}

        {% if isSection2 and hasUsedChecker %}
          <p class="govuk-body" id="preListHeading">Based on your answers, you are able to make an application for an exemption certificate for your item as a pre-1918 item of outstandingly high artistic, cultural or historical value.</p>
        {% endif %}

        {% if isSection2 and isAlreadyCertified %}
          <p class="govuk-body" id="previousOwnerParagraph">A certificate for this item would have been issued to a previous owner.</p>
        {% endif %}

        {% if not isSection2 %}
          <p class="govuk-body" id="listHeading">This is a registration under the Ivory Act, complete the process by following the steps below:</p>
        {% else  %}
          <p class="govuk-body" id="listHeading">Complete the process by following the steps below:</p>
        {% endif %}

        <ol class="govuk-list govuk-list--number">
          {% for step in steps %}
            <li id="step-{{ loop.index }}">{{ step }}</li>
          {% endfor %}
        </ol>

        <div class="govuk-inset-text">
          <p class="govuk-body" id="timeoutParagraph">You can stop half-way through and come back later. We’ll delete your answers if you close your browser or take more than 24 hours to complete the service.</p>
        </div>
        
        {% if isSection2 and not isAlreadyCertified %}
          <p class="govuk-body" id="finalParagraph">After you’ve paid for your application, it will be sent to an expert for assessment. We'll aim to let you know the outcome of your application within {{ sla }} working days, we'll let you know if it is going to take longer. Once we've received this assessment, we'll decide whether to award the item an exemption certificate. If your application is unsuccessful, we will tell you the reasons why. You cannot deal in this item until it has an exemption certificate.</p>
        {% endif %}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

      {% if hasUsedChecker %}
        <p class="govuk-body"><a id="cancelLink" class="govuk-link" href="{{ cancelLink }}">Cancel<span class="govuk-visually-hidden"> and return to GOV.UK</span></a></p>
      {% endif %}

    </div>
  </div>
{% endblock %}
