{% extends 'form-layout.html' %}

{% from "govuk/components/button/macro.njk" import govukButton %}


{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" id="pageTitle">{{ pageTitle }}</h1>

        <p class="govuk-body" id="listHeading">You’ll need to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li id="listItem-1">describe the item and how it meets the exemption criteria</li>
          <li id="listItem-2">upload some photos of it</li>
          <li id="listItem-3">provide contact details</li>
          {% for additionalStep in additionalSteps %}
            <li id="additionalStep-{{ loop.index }}">{{ additionalStep }}</li>
          {% endfor %}
        </ul>

        <p class="govuk-body" id="finalParagraph">{{ finalParagraph }}</p>

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

      <p class="govuk-body"><a id="cancelLink" class="govuk-link" href="/">Cancel</a></p>
    </div>
  </div>
{% endblock %}
