{% extends 'form-layout.html' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 id="pageTitle" class="govuk-heading-l">{{ pageTitle }}</h1>

      <h2 id="itemHeading" class="govuk-heading-m">The item</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: itemSummary,
        attributes: {
          id: "itemSummary"
        }
      }) }}

      {% if not isAlreadyCertified %}
        <h2 id="photosSubHeading" class="govuk-heading-m">Photos of the item</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9 ivory-summary-list',
          rows: photoSummary,
          attributes: {
            id: "photoSummary"
          }
        }) }}
      {% endif %}

      {% if not isAlreadyCertified %}
        <h2 id="itemDescriptionSubHeading" class="govuk-heading-m">Description of the item</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: itemDescriptionSummary,
          attributes: {
            id: "itemDescriptionSummary"
          }
        }) }}
      {% endif %}

      {% if not isAlreadyCertified and not isMesuem %}
        <h2 id="exemptionReasonHeading" class="govuk-heading-m">Why item qualifies for exemption</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: exemptionReasonSummary,
          attributes: {
            id: "exemptionReasonSummary"
          }
        }) }}
      {% endif %}


      {% if not isAlreadyCertified and documentSummary %}
        <h2 id="documentsSummaryHeading" class="govuk-heading-m">Supporting evidence</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: documentSummary,
          attributes: {
            id: "documentSummary"
          }
        }) }}
      {% endif %}

      <h2 id="ownerSubHeading" class="govuk-heading-m">Owner’s details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: ownerSummary,
        attributes: {
          id: "ownerSummary"
        }
      }) }}

      <h2 id="saleIntentionSubHeading" class="govuk-heading-m">What will happen to the item</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: saleIntentionSummary,
        attributes: {
          id: "saleIntentionSummary"
        }
      }) }}

      <h2 id="legalDeclarationHeading" class="govuk-heading-m">Legal declaration</h2>

      {% if isOwnedByApplicant %}
        <p id="legalDeclarationPara1" class="govuk-body">Before you continue, you must agree with the following:</p>
      {% else %}
        <p id="legalDeclarationPara1" class="govuk-body">Before you continue, you must agree that you have permission to act on the owner’s behalf.</p>
        <p id="legalDeclarationPara2" class="govuk-body">Both you and the owner must also agree with the following:</p>
      {% endif %}

      <ul class="govuk-list govuk-list--bullet">
        {% for legalAssertion in legalAssertions %}
          <li id="legalAssertion{{ loop.index }}">{{ legalAssertion }}</li>
        {% endfor %}
      </ul>

      {% if isSection2 and not isAlreadyCertified %}
        <p id="legalDeclarationPara3" class="govuk-body">By making this application, I confirm that I believe:</p>

        <ul class="govuk-list govuk-list--bullet">
          {% for legalAssertion in legalAssertionsAdditionalSection2 %}
            <li id="legalAssertionsAdditional{{ loop.index }}">{{ legalAssertion }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if isSection2 and isAlreadyCertified %}
        {% set expanderHtml %}
          <p id="legalDeclarationPara3">If you notice something is inaccurate or missing from the item's certificate, you must contact the Animal Health and Plant Agency (APHA): <a href="mailto:IvoryAct@apha.gov.uk">IvoryAct@apha.gov.uk</a> before continuing.</p>
          <p id="legalDeclarationPara4">Make sure you include the certificate number in your email.</p>
        {% endset -%}

        {{ govukDetails({
          id: "somethingWrongWithCertificate",
          summaryText: "Something is wrong with the certificate",
          html: expanderHtml
        }) }}
      {% endif %}

      {{ govukCheckboxes({
        idPrefix: "agree",
        name: "agree",
        errorMessage: fieldErrors['agree'],
        items: [
          {
            value: "agree",
            text: "I agree"
          }
        ]
      }) }}

      {{ govukButton({
          attributes: {
            id: "agreeAndSubmit"
          },
          text: "Agree and submit"
        })
      }}
    </div>
  </div>
{% endblock %}
