{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

      {{ govukInput({
          label: {
            html: '<span class="govuk-!-font-weight-bold">What is the item?</span>'
          },
          hint: {
            html: "For example, 'sword', 'chest of drawers'<br>No more than 128 characters, so that it will fit on your certificate."
          },
          id: "whatIsItem",
          name: "whatIsItem",
          value: whatIsItem,
          errorMessage: fieldErrors['whatIsItem']
      }) }}

      {{ govukInput({
          label: {
            html: '<span class="govuk-!-font-weight-bold">Where is the ivory on it?</span>'
          },
          hint: {
            text: "For example, 'scabbard has ivory inlay', 'chest has ivory knobs'"
          },
          id: "whereIsIvory",
          name: "whereIsIvory",
          value: whereIsIvory,
          errorMessage: fieldErrors['whereIsIvory']
      }) }}

      {% set detailHtml %}
        {{ govukInput({
          id: "distinguishingFeatures",
          name: "distinguishingFeatures",
          type: "distinguishingFeatures",
          label: {
            text: "Give details"
          },
          hint: {
            text: "No more than 243 characters, so that it will fit on your certificate."
          },
          value: distinguishingFeatures,
          errorMessage: fieldErrors['distinguishingFeatures']
        }) }}
      {% endset -%}

      {% set yesItem = {
        text: yesOption.text,
        value: yesOption.value,
        checked: yesOption.checked,
        conditional: {
          html: detailHtml
        }
      }
      %}

      {% set items = (items.unshift(yesItem), items) %}
      
      <div id="hasDistinguishingFeaturesSection">
        {{ govukRadios({
          idPrefix: "hasDistinguishingFeatures",
          name: "hasDistinguishingFeatures",
          fieldset: {
            legend: {
              text: "Does the item have any distinguishing features?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 'handle has a carved image of a soldier', 'one of the feet is cracked'"
          },
          value: hasDistinguishingFeatures,
          errorMessage: fieldErrors['hasDistinguishingFeatures'],
          items: items
        }) }}
      </div>

      {% if isSection2 %}

        {{ govukInput({
            label: {
              html: '<span class="govuk-!-font-weight-bold">Where was it made? (optional)</span>'
            },
            hint: {
              text: "For example, 'Japan', 'Europe'"
            },
            id: "whereMade",
            name: "whereMade",
            value: whereMade,
            errorMessage: fieldErrors['whereMade']
        }) }}      

        {{ govukInput({
            label: {
              html: '<span class="govuk-!-font-weight-bold">When was it made? (optional)</span>'
            },
            hint: {
              text: "For example, '5th century', 'Georgian era'"
            },
            id: "whenMade",
            name: "whenMade",
            value: whenMade,
            errorMessage: fieldErrors['whenMade']
        }) }}     

      {% endif %}

    {% endcall %}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
