{% extends 'layout.html' %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block content %}
  <div class="govuk-body">
    <a href="what-type-of-item-is-it">What is your ivory item?</a><br/>
    <a href="ivory-added">Ivory added</a><br/>
    <a href="ivory-integral">Ivory integral</a><br/>
    <a href="who-owns-the-item">Who owns the item?</a><br/>
    <a href="check-your-answers">Check your answers</a><br/>
    <a href="user-details/owner/address-find">Find address</a><br/>

    <img src="/assets/save-elephants.jpg" alt="Only elephants should wear Ivory">

    <p>{{title}}</p>
    <p>{{message}}</p>
  </div>
{% endblock %}