{% extends 'layout.html' %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block content %}
  <div class="govuk-body">
    <a href="eligibility-checker/how-certain">How certain are you that your item is exempt?</a><br/>
    <a href="what-type-of-item-is-it">What is your ivory item?</a><br/>
    <a href="check-your-answers">Check your answers</a><br/>
    <a href="user-details/owner/address-find">Find address</a><br/>

    <img src="/assets/save-elephants.jpg" alt="Only elephants should wear Ivory">

    <p>{{pageTitle}}</p>
    <p>{{message}}</p>
  </div>
{% endblock %}