{% extends 'layout.html' %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block content %}
  <div class="govuk-grid-row">

    {% if errorText %}
      {{ govukErrorSummary({
        "titleText": "There is a problem",
        "errorList": [
          {
            "text": errorSummaryText,
            "href": "#ivoryIsIntegral"
          }
        ]
      }) }}
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
      <form method="post">

        {{ govukRadios({
          idPrefix: "ivoryIsIntegral",
          name: "ivoryIsIntegral",
          fieldset: {
            legend: {
              text: "How is the ivory integral to the item?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errorText,
          items: [
            {
              value: "The ivory is essential to the design or function of the item",
              text: "The ivory is essential to the design or function of the item"
            },
            {
              value: "You cannot remove the ivory easily or without damaging the item",
              text: "You cannot remove the ivory easily or without damaging the item"
            },
            {
              value: "Both reasons - You cannot remove the ivory easily or without risk of damage and the ivory is essential to the design or function of the item",
              text: "Both of the above"
            }
          ]
        }) }}

        {{ govukButton({
            attributes: {
              id: "continue"
            },
            text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
