{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% set otherHtml %}
        {{ govukTextarea({
          name: "otherReason",
          id: "otherReason",
          label: {
            text: "Give details"
          },
          value: otherReason,
          rows: 2,
          errorMessage: fieldErrors['otherReason']
        }) }}
      {% endset -%}

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

        <p class="govuk-body" id="helpText">You must keep any physical evidence that supports your answer. We may ask for it at a later date, if we decide to check your self-declaration.</p>

        {{ govukRadios({
          idPrefix: "ivoryVolume",
          name: "ivoryVolume",
          errorMessage: fieldErrors['ivoryVolume'],
          items: [
            {
              value: options[0].label,
              text: options[0].label,
              checked: options[0].checked
            },
            {
              value: options[1].label,
              text: options[1].label,
              checked: options[1].checked
            },
            {
              value: options[2].label,
              text: options[2].label,
              checked: options[2].checked,
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}

      {% endcall %}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
