{% extends 'form-layout.html' %}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if options[6].label == 'Other reason' %}
        {% set otherHtml %}
          {{ govukTextarea({
            name: "otherReason",
            id: "otherReason",
            label: {
              text: "Give details"
            },
            value: otherReason,
            rows: 2,
            errorMessage: fieldErrors['otherReason']
          }) }}
        {% endset -%}
      {% endif %}

      {{ govukCheckboxes({
        idPrefix: "ivoryAge",
        name: "ivoryAge",
        fieldset: {
          legend: {
            text: pageTitle,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        errorMessage: fieldErrors['ivoryAge'],
        items: [
        {
          value: options[0].label,
          text: options[0].label,
          checked: options[0].checked
        },
        {
          value: options[1].label,
          text: options[1].label,
          checked: options[1].checked
        },
        {
          value: options[2].label,
          text: options[2].label,
          checked: options[2].checked
        },
        {
          value: options[3].label,
          text: options[3].label,
          checked: options[3].checked
        },
        {
          value: options[4].label,
          text: options[4].label,
          checked: options[4].checked
        },
        {
          value: options[5].label,
          text: options[5].label,
          checked: options[5].checked
        },
        {
          value: options[6].label,
          text: options[6].label,
          checked: options[6].checked,
          conditional: {
            html: otherHtml
          }
        }
      ]
      }) }}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
