{% extends 'form-layout.html' %}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% set otherHtml %}
        {{ govukTextarea({
          name: "otherReason",
          id: "otherReason",
          label: {
            text: "Give details"
          },
          value: otherReason,
          rows: 2,
          errorMessage: fieldErrors['otherReason']
        }) }}
      {% endset -%}

      {% set otherItem = {
        value: otherCheckbox.label,
        text: otherCheckbox.label,
        checked: otherCheckbox.checked,
        conditional: {
          html: otherHtml
        }
      }
      %}

      {% set items = (items.push(otherItem), items) %}

      <h1 id="pageTitle" class="govuk-heading-l">{{ pageTitle }}</h1>

      <p id="helpText" class="govuk-body">{{ helpText }}</p>

      {{ govukCheckboxes({
        idPrefix: "ivoryAge",
        name: "ivoryAge",
        hint: {
          text: "Select all that apply"
        },
        errorMessage: fieldErrors['ivoryAge'],
        items: items
      }) }}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
