{% extends 'form-layout.html' %}

{% from "govuk/components/button/macro.njk" import govukButton %}


{% block formContent %}
  <div class="flash-card">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <header>
          <h1 class="govuk-heading-l" id="pageTitle">{{ pageTitle }}</h1>
        </header>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% for helpTextPara in helpTextParas %}
          <p id="helpTextPara-{{ loop.index }}">{{ helpTextPara }}</p>
        {% endfor %}

        <div class="govuk-inset-text" style="border-left: 10px solid white">
          <p id="callOutText1">You must contact APHA to amend your registration or certificate if you later find out information you have given about the item is wrong or incomplete.</p>
          <p id="callOutText2">APHA may cancel your registration, or revoke your exemption certificate if:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li id="callOutText3">it believes your item is no longer eligible</li>
            <li id="callOutText4">the information you’ve given about the item is wrong or incomplete, including if the item is proven to not be made of or contain ivory, and you do not tell us</li>
          </ul>
        </div>

        {{ govukButton({
            attributes: {
              id: "continue"
            },
            text: "Continue",
            classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-4"
          })
        }}
      </div>
    </div>
  </div>
{% endblock %}
