{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

        <p class="govuk-body" id="helpText">
          Given that you are not sure whether your item contains ivory do you wish to proceed with registration. You can continue regsitration under the assumption it is likely your item contains ivory.
        </p>

        {{ govukRadios({
          idPrefix: "optionToProceed",
          name: "optionToProceed",
          errorMessage: fieldErrors['optionToProceed'],
          items: items
        }) }}

      {% endcall %}

      {{ govukButton({
          attributes: {
            id: "callToAction"
          },
          text: "Confirm and submit"
        })
      }}

    </div>
  </div>
{% endblock %}
