{% extends 'layout.html' %}


{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" id="pageTitle">Privacy notice: Declare elephant ivory you want to sell or hire out</h1>

      <h2 class="govuk-heading-m" id="h2-1">Who collects your data</h2>
        <p class="govuk-body" id="para1-1">
          The controllers collecting your personal data are the Department for Environment, Food and Rural Affairs (Defra) and the Animal and Plant Health Agency (APHA).
        </p>

        <p class="govuk-body" id="para2-1">
          This means that both Defra and APHA have joint responsibility for determining the purposes and means of the processing of your personal data, including the use and security of your personal data.
        </p>

        <p class="govuk-body" id="para3-1">
          If you have any questions about how Defra and APHA intend to use your personal data as set out in this Privacy Notice and your associated rights under data protection law, please email as follows:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li id="listItemA1-1">Defra’s data protection team: <a class="govuk-link" href="mailto:data.protection@defra.gov.uk">data.protection@defra.gov.uk</a></li>
          <li id="listItemA2-1">APHA’s data protection team: <a class="govuk-link" href="mailto:Data.Protection@apha.gov.uk">Data.Protection@apha.gov.uk</a></li>
        </ul>

        <p class="govuk-body" id="para4-1">
          The contact details for the data protection officers responsible for monitoring that Defra and APHA are meeting the requirements of the legislation are:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li id="listItemB1-1">Defra: <a class="govuk-link" href="mailto:DefraGroupDataProtectionOfficer@defra.gov.uk">DefraGroupDataProtectionOfficer@defra.gov.uk</a></li>
          <li id="listItemB2-1">APHA: <a class="govuk-link" href="mailto:DPO@apha.gov.uk">DPO@apha.gov.uk</a></li>
        </ul>


      <h2 class="govuk-heading-m" id="h2-2">How your data will be used</h2>
        <p class="govuk-body" id="para1-2">
          Your data will be used by official authorities (Defra, APHA) to enforce the Ivory Act 2018.
        </p>

        <p class="govuk-body" id="para2-2">
          In respect of section 2 (items of outstandingly high artistic, cultural and historical value), we may need to contact the person who submitted the application if we need them to confirm any information provided in it.
          We will also need to notify them of the outcome of the application.
        </p>

        <p class="govuk-body" id="para3-2">
          In respect of section 10 (all other ivory items that are exempt under the Ivory Act 2018), we will need to send a confirmation of the registration to the person who submitted it.
          We may also need to contact the owner if we suspect that the item intended for sale or hire does not comply with the Ivory Act.
        </p>

        <p class="govuk-body" id="para4-2">
          We may also need to check that anyone attempting to sell or hire out an item containing elephant ivory is complying with the Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES).
        </p>


      <h2 class="govuk-heading-m" id="h2-3">Legal basis for processing your data</h2>
        <p class="govuk-body" id="para1-3">
          The processing of your personal data, which we carry out in connection with REACH, is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in Defra and APHA.
          We are allowed to process your data because we have official authority as the UK government departments regulating the implementation of the Ivory Act 2018 and CITES legislation.
        </p>

        <p class="govuk-body" id="para2-3">
          As part of the compliance process for the Ivory Act 2018, APHA may need to share personal data with other legal entities in relation to the enforcement of the Act.
        </p>


      <h2 class="govuk-heading-m" id="h2-4">Who receives your data</h2>
        <p class="govuk-body" id="para1-4">
          The recipients of your data are Defra and APHA involved in the regulation of the Ivory Act 2018 and CITES legislation.
        </p>

        <p class="govuk-body" id="para2-4">
          The data will be used solely in relation to the enforcement of the Ivory Act 2018.
        </p>


      <h2 class="govuk-heading-m" id="h2-5">How long your data is held for</h2>
        <p class="govuk-body" id="para1-5">
          Under section 2 of the Ivory Act 2018, it is a statutory requirement for us to hold...tbc
        </p>

        <p class="govuk-body" id="para2-5">
          Under secretion 10 of the Ivory Act 2018, it is a statutory requirement for us to hold...tbc
        </p>


      <h2 class="govuk-heading-m" id="h2-6">What happens if you don’t provide your data</h2>
        <p class="govuk-body" id="para1-6">
          It is a statutory requirement that applications or registrations made under section 2 or section  10 of the Ivory Act include the:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li id="listItemA1-6">the full name of the owner of the ivory item</li>
          <li id="listItemA2-6">their owner’s postal address</li>
        </ul>

        <p class="govuk-body" id="para2-6">
          In case the applicant is different from the owner, it’s also a requirement that applications or registrations include:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li id="listItemB1-6">the full name of the applicant (if different from the owner)</li>
          <li id="listItemB2-6">the applicant’s email address</li>
          <li id="listItemB3-6">the applicant’s postal address</li>
        </ul>

        <p class="govuk-body" id="para3-6">
          If this information is not provided, we cannot process the registration.
        </p>


      <h2 class="govuk-heading-m" id="h2-7">Your rights and how to complain</h2>
        <p class="govuk-body" id="para1-7">
          See a <a class="govuk-link" href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights">
            list of your rights under the data protection legislation</a>
        </p>


      <h2 class="govuk-heading-m" id="h2-8">How to complain</h2>
        <p class="govuk-body" id="para1-8">
          You have the right to <a class="govuk-link" href="https://ico.org.uk/make-a-complaint">
            lodge a complaint with the ICO</a> (supervisory authority) at any time.
        </p>

        <p class="govuk-body" id="para2-8">
          Please note that the ICO usually expects people to try to resolve their data protection concerns with the controller in the first instance, before it would investigate a complaint.
          You can do this by emailing the relevant Data Protection Team, as follows:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li id="listItemA1-8">Defra’s data protection team: <a class="govuk-link" href="mailto:data.protection@defra.gov.uk">data.protection@defra.gov.uk</a></li>
          <li id="listItemA2-8">APHA’s data protection team: <a class="govuk-link" href="mailto:Data.Protection@apha.gov.uk">Data.Protection@apha.gov.uk</a></li>
        </ul>


      <h2 class="govuk-heading-m" id="h2-9">Other relevant privacy policies</h2>
        <p class="govuk-body" id="para1-9">
          You may also like to see:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li id="listItemA1-9"><a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter">Defra’s Personal Information Charter</a></li>
          <li id="listItemA2-9"><a class="govuk-link" href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency/about/personal-information-charter">APHA’s personal information charter</a></li>
        </ul>
    </div>
  </div>
{% endblock %}
