{% extends 'form-layout.html' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-label-wrapper"><label id="pageTitle" class="govuk-label govuk-label--l" for="revokedCertificateNumber">{{ pageTitle }}</label></h1>

      {{ govukInsetText({
        id: "callOutText",
        text: "Where we've previously revoked an exemption certificate, it may be less likely that a new application is successful. For example, if you were to resubmit an application with no new information or evidence, it's unlikely it will be successful."
      }) }}

      {{ govukInput({
          hint: {
            text: "For example, '10AB010C'"
          },
          classes: "govuk-input govuk-!-width-one-third",
          id: "revokedCertificateNumber",
          name: "revokedCertificateNumber",
          value: revokedCertificateNumber,
          errorMessage: fieldErrors['revokedCertificateNumber']
      }) }}

       {{ govukDetails({
        id: "dontHaveCertificateNumber",
        summaryText: "I don't have the certificate or certificate number",
        html: "<p id=\"para1\">You can find the certificate number towards the top of the digital certificate we emailed the owner when their original application was successful. You'll also be able to find it referenced in any emails or letters from when the certificate was revoked.<p id=\"para2\">If you bought the item, the previous owner should have given you the certificate as part of the transaction. You may have received this by email.</p>"
      }) }}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}

