{% extends 'form-layout.html' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if isAlreadyCertified %}
        {{ govukPanel({
          attributes: {
            id: "pageTitle"
          },
          titleText: pageTitle
        }) }}
      {% else %}
        {{ govukPanel({
          attributes: {
            id: "pageTitle"
          },
          titleText: pageTitle,
          html: "Submission reference<br><strong id='submissionReference'>" + submissionReference + "</strong>"
        }) }}
      {% endif %}

      <p class="govuk-body" id="initialHelpText">{{ initialHelpText }}</p>

      <ul class="govuk-list govuk-list--bullet">
        {% if applicantEmail %}
          <li id="applicantEmail">{{ applicantEmail }}</li>
        {% endif %}
        {% if ownerEmail %}
          <li id="ownerEmail">{{ ownerEmail }}</li>
        {% endif %}
      </ul>

      <h2 id="heading2" class="govuk-heading-m">What happens next</h2>

      {% for step in nextSteps %}
        <p id="step-{{ loop.index }}">{{ step }}</p>
      {% endfor %}

      {% if aphaEmail %}
        <p class="govuk-body" id="additionalStep">
          If you have not heard from us within {{ sla }} working days, you can contact us at <a href="mailto:{{ aphaEmail }}">{{ aphaEmail }}</a>. Make sure you have your submission reference number, so we can find your details.
        </p>
      {% endif %}

      <p class="govuk-body">
        <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0vtTE03cG8IQiBU"  
          target="_blank" rel="noopener noreferrer" class="govuk-link" id="feedbackLink">What did you think of this service?</a> (takes 30 seconds)
      </p>

      {{ govukButton({
          attributes: {
            id: "finish"
          },
          text: "Finish",
          href: "#/feedback survey"
      }) }}

    </div>
  </div>
{% endblock %}
