{% extends 'layout.html' %}

{% block content %}
    <h1 id="pageTitle" class="govuk-heading-xl">{{ pageTitle }}</h1>

    <ul class="govuk-list">
      <li>  
        <label id="service-name-label">Service:</label>
        <strong id="service-name">{{ data.name }}</strong>
      </li>
      <li>
        <label id="version-label">Version:</label>
        <strong id="version">{{ data.version }}</strong>
      </li>
      <li>
        <label id="clam-version-label">ClamAV version:</label>
        <strong id="clam-version">{{ data.clamVersion }}</strong>
      </li>
      <li>
        <label id="address-lookup-label">Address lookup enabled:</label>
        <strong id="address-lookup">{{ data.addressLookupEnabled }}</strong>
      </li>
      <li>
        <label id="server-started-label">Server started:</label>
        <strong id="server-started">{{ data.uptime }}</strong>
      </li>
      <li>
        <label id="page-rendered-label">Page rendered:</label>
        <strong id="page-rendered">{{ data.rendered }}</strong>
      </li>
    </ul>
{% endblock %}