{% extends 'layout.html' %}

{% block content %}
    <h1 id="pageTitle" class="govuk-heading-xl">{{ pageTitle }}</h1>

    <ul class="govuk-list">
      <li>  
        <span id="service-name-label">Service:</span>
        <strong id="service-name">{{ data.name }}</strong>
      </li>
      <li>
        <span id="version-label">Version:</span>
        <strong id="version">{{ data.version }}</strong>
      </li>
      <li>
        <span id="clam-version-label">ClamAV version:</span>
        <strong id="clam-version">{{ data.clamVersion }}</strong>
      </li>
      <li>
        <span id="address-lookup-label">Address lookup enabled:</span>
        <strong id="address-lookup">{{ data.addressLookupEnabled }}</strong>
      </li>
      <li>
        <span id="server-started-label">Server started:</span>
        <strong id="server-started">{{ data.uptime }}</strong>
      </li>
      <li>
        <span id="page-rendered-label">Page rendered:</span>
        <strong id="page-rendered">{{ data.rendered }}</strong>
      </li>

      {% if data.performanceTestMode %}
        <li>
          <span id="page-rendered-label">Performance testing mode enabled:</span>
          <strong id="page-rendered">Yes</strong>
        </li>
      {% endif %}
    </ul>
{% endblock %}