{% extends 'form-layout.html' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" id="pageTitle">Help our experts by allowing us to share details of your item</h1>

      <p class="govuk-body" id="para1">To further their knowledge and understanding of pre-1918 ivory items of outstandingly high artistic, cultural, and historical value, we'd like to share details of your application with a closed group of 'Prescribed Institutions'. <a id="piLink" href="{{ piLink }}" target="_blank" rel="noopener noreferrer" class="govuk-link">Prescribed Institutions (opens in a new window or tab)</a> are the experts who will be assessing the ivory items.</p>

      <p class="govuk-body" id="para2">We will only share:</p>

      <ul class="govuk-list govuk-list--bullet" id="shareReasons">
        <li>information about the item from your application, such as the description</li>
        <li>photographs of the item declared in your application</li>
        <li>the outcome of your application</li>
        <li>this information once you have received the outcome of your application</li>
      </ul>

      <p class="govuk-inset-text" id="para3">No personal data will be shared.</p>

      {{ govukRadios({
        idPrefix: "shareDetailsOfItem",
        name: "shareDetailsOfItem",
        fieldset: {
          legend: {
            text: "Do you agree to us sharing details of your application with the Prescribed Institutions?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        errorMessage: fieldErrors['shareDetailsOfItem'],
        items: items
      }) }}

      {{ govukButton({
          attributes: {
            id: "callToAction"
          },
          text: "Confirm and submit"
        })
      }}

    </div>
  </div>
{% endblock %}
