{% extends 'multipart-form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}
  <link href="{{ assetPath }}/ispinner.prefixed.css" rel="stylesheet" />
  <script type="text/javascript" src="{{ assetPath }}/toggleVisibility.js"></script>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

        {% if (not hideHelpText) %}
          <span id="hint" class="govuk-body">

            <p id="helpText1" class="govuk-body">You must add files one at a time, up to a total of 6.</p>

            {{ govukInsetText({
              id: "insetHelpText",
              text: "Be careful not to upload too much material, as this could affect how long it takes an assessor to review it."
            }) }}

          </span>
        {% endif %}
          
        <div id="notUploading1" class="govuk-!-display-block">
          <h2 id="helpTextSubHeading" class="govuk-heading-m">Upload file</h2>

          <p id="helpText2" class="govuk-body">Files must be:</p>

          <ul id="helpText3" class="govuk-list govuk-list--bullet">
            <li>PDF</li>
            <li>Microsoft Word document (.DOC or .DOCX)</li>
            <li>an image file (JPG or PNG)</li>
            <li>smaller than {{ maximumFileSize }}MB</li>
          </ul>

          {{ govukFileUpload({
            attributes: {
              accept: accept
            },
            id: "files",
            name: "files",
            errorMessage: fieldErrors['files']
          }) }}
        </div>

        <div id="uploading1" class="govuk-!-display-none">
          <h2 id="uploadingHelpTextSubHeading" class="govuk-heading-m">Uploading file</h2>

          <p id="uploadingHelpText" class="govuk-body">Your file is being processed<br>Please wait...</p>

          <div class="ispinner ispinner-large">
            {% for i in range(0, 8) %}
              <div class="ispinner-blade"></div>
            {% endfor %}
          </div>
          <br>
        </div>

      {% endcall %}

      <div id="notUploading2" class="govuk-!-display-block">
        {{ govukButton({
            preventDoubleClick: true,
            attributes: {
              id: "continue",
              onclick: "toggleVisibility(['notUploading1', 'uploading1', 'notUploading2'])"
            },
            text: "Continue"
          })
        }}

        {% if hideHelpText %}
          <p class="govuk-body">
            <a id="cancel" class="govuk-link" href="{{ fileListUrl }}">Cancel and return to ‘Your supporting evidence‘</a>
          </p>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}
