{% extends 'form-layout.html' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" id="pageTitle">{{ pageTitle }}</h1>

      <p class="govuk-body" id="introPara">Unless your item is to be sold or hired out to a qualifying museum, any replacement ivory must have been taken from an elephant before 1975 and used only to restore the item.</p>

      {{ govukRadios({
        idPrefix: "whatTypeOfItemIsIt",
        name: "whatTypeOfItemIsIt",
        errorMessage: fieldErrors['whatTypeOfItemIsIt'],
        items: items
      }) }}

      {{ govukDetails({
        id: "needMoreHelp",
        summaryText: "I need more help to work this out",
        html: 'Use our eligibility checker to <a id="eligibilityChecker" href="' + linkUrl + '" class="govuk-link">check if you can sell or hire out your item</a>.'
      }) }}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
