{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

        {{ govukRadios({
          idPrefix: "whatSpecies",
          name: "whatSpecies",
          errorMessage: fieldErrors['whatSpecies'],
          items: items
        }) }}

        {{ govukDetails({
          id: "needMoreHelp",
          summaryText: "I'm not sure what species my item contains",
          html: 'Use our <a id="eligibilityChecker" href="' + eligibilityCheckerUrl + '" class="govuk-link">eligibility checker</a> or <a id="guidance" href="' + guidanceUrl + '" class="govuk-link">read our guidance</a> on how to identify different species of ivory.'
        }) }}

      {% endcall %}

      {{ govukButton({
          attributes: {
            id: "callToAction"
          },
          text: "Confirm and submit"
        })
      }}

    </div>
  </div>
{% endblock %}
