{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% block bodyStart %}
  {% set html %}
    <p class="govuk-body">By continuing to the next page, you are agreeing to us using essential cookies to make this service work</p>
  {% endset %}

  <form method="POST">
    {{ govukCookieBanner({
      ariaLabel: "Cookies on " + serviceName,
      hidden: hideBanner,
      messages: [
        {
          headingText: "Cookies on " + serviceName,
          html: html,
          actions: [
            {
              text: "Hide",
              type: "submit",
              name: "cookies",
              value: true
            },
            {
              text: "View cookies",
              href: "/cookie-policy"
            }
          ]
        }
      ]
    }) }}
  </form>
{% endblock %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

      <p class="govuk-body">You can register or apply for an exemption if you know your item is made of or contains ivory from a species listed in the Ivory Act 2018:</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for speciesItem in speciesItems %}
          <li>{{ speciesItem }}</li>
        {% endfor %}
      </ul>

      <p class="govuk-body">If you know your item contains ivory, but are not sure which species, you can continue to register or apply for an exemption at your own risk - we’ll presume the item contains ivory from one or more listed species.</p>

      <p class="govuk-body">Select one of these options to continue:</p>

      {{ govukRadios({
        idPrefix: "whatSpecies",
        name: "whatSpecies",
        errorMessage: fieldErrors['whatSpecies'],
        items: items
      }) }}

      <p class="govuk-body">You must contact the Animal and Plant Health Agency (APHA) to amend your registration or certificate if you later find out information you have given about the item is wrong or incomplete.</p>

      <p class="govuk-body">APHA may cancel or revoke your exemption if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>it believes your item is no longer eligible</li>
        <li>the information you’ve given about the item is wrong or incomplete, including if the item is proven to not be made of or contain ivory, and you do not tell us</li>
      </ul>

      <p class="govuk-body">You could be fined up to £250,000 or face 5 years in prison if you knowingly give false information.</p>

      {% endcall %}

      {{ govukButton({
          attributes: {
            id: "callToAction"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
