{% extends 'form-layout.html' %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {{ govukRadios({
          idPrefix: "whoOwnsItem",
          name: "whoOwnsItem",
          fieldset: {
            legend: {
              text: pageTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: fieldErrors['whoOwnsItem'],
          items: [
            {
              value: "I own it",
              text: "I own it"
            },
            {
              value: "Someone else owns it",
              text: "Someone else owns it"
            }
          ]
        }) }}

        {{ govukButton({
            attributes: {
              id: "continue"
            },
            text: "Continue"
          })
        }}

    </div>
  </div>
{% endblock %}
