{% extends 'layout.html' %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block content %}
  <div class="govuk-grid-row">

    {% if errorText %}
      {{ govukErrorSummary({
        "titleText": "There is a problem",
        "errorList": [
          {
            "text": errorSummaryText,
            "href": "#whoOwnsItem"
          }
        ]
      }) }}
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
      <form method="post">

        {{ govukRadios({
          idPrefix: "whoOwnsItem",
          name: "whoOwnsItem",
          fieldset: {
            legend: {
              text: "Who owns the item?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errorText,
          items: [
            {
              value: "I own it",
              text: "I own it"
            },
            {
              value: "Someone else owns it",
              text: "Someone else owns it"
            }
          ]
        }) }}

        {{ govukButton({
            attributes: {
              id: "continue"
            },
            text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
