{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

        <p class="govuk-body" id="helpText">You can add up to {{ maxPhotos }} files.</p>

        {{ govukSummaryList({
          rows: rows
        }) }}

        {% if allowMorePhotos %}
          <p class="govuk-body govuk-!-margin-bottom-7"><a id="addAnotherFile" class="govuk-link" href="{{ addPhotoUrl }}">Add another file</a></p>
        {% endif %}

      {% endcall %}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
