{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% call govukFieldset({
            attributes: {
              id: "pageTitle"
            },
            legend: {
              text: pageTitle,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
        }) %}

          {{ govukInput({
              label: {
                html: '<span class="govuk-!-font-weight-bold">Property name or number</span>'
              },
              hint: {
                text: 'For example, The Mill, Flat A or 37b'
              },
              id: "nameOrNumber",
              classes: "govuk-input--width-20",
              name: "nameOrNumber",
              value: nameOrNumber,
              errorMessage: fieldErrors['nameOrNumber'],
              autocomplete: "address-line1"
          }) }}

          {{ govukInput({
              label: {
                html: '<span class="govuk-!-font-weight-bold">Postcode</span>'
              },
              classes: "govuk-input--width-10",
              id: "postcode",
              name: "postcode",
              value: postcode,
              errorMessage: fieldErrors['postcode'],
              autocomplete: "postal-code"
          }) }}

        {% endcall %}

        {{ govukButton({
            attributes: {
              id: "findAddress"
            },
            text: "Find address"
        }) }}

      <p class="govuk-body"><a id="outsideUkLink" href="address-international">The address is outside the UK</a></p>
    </div>
  </div>
{% endblock %}
