{% extends 'form-layout.html' %}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 id="pageTitle" class="govuk-heading-l">{{ pageTitle }}</h1>

      <p id="helpText" class="govuk-body">{{ helpText }}</p>

      {{ govukTextarea({
        name: "internationalAddress",
        id: "internationalAddress",
        value: internationalAddress,
        errorMessage: fieldErrors['internationalAddress']
      }) }}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text:  "Continue"
      }) }}
    </div>
  </div>
{% endblock %}
