{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

        {% if showHelpText %}
          <p id="helpText1" class="govuk-body">No results for "{{ nameOrNumber }}".</p>
          <p id="helpText2" class="govuk-body">Here are all the results for {{ postcode }}.</p>
        {% endif %}

        {{ govukRadios({
          idPrefix: "address",
          name: "address",
          errorMessage: fieldErrors['address'],
          items: addresses
        }) }}

        <p class="govuk-body"><a id="addressNotOnList" href="address-enter">The address is not on the list</a></p>

      {% endcall %}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
