{% extends 'form-layout.html' %}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {{ govukTextarea({
          name: "internationalAddress",
          id: "internationalAddress",
          label: {
            text: pageTitle,
            classes: "govuk-label--l",
            isPageHeading: true,
            attributes: {
              id: "pageTitle"
            }
          },
          value: internationalAddress,
          hint: {
            text: hintText
          },
          errorMessage: fieldErrors['internationalAddress']
        }) }}

        {{ govukButton({
            attributes: {
              id: "continue"
            },
            text:  "Continue"
        }) }}
    </div>
  </div>
{% endblock %}
