{% extends 'form-layout.html' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 id="pageHeading" class="govuk-heading-l">{{ pageHeading }}</h1>

      <p id="address" class="govuk-body">{{ address.AddressLine }}</p>

      <p><a id="editTheAddress" href="/user-details/owner/address-enter" class="govuk-link">Edit the address</a></p>

      {{ govukButton({
          attributes: {
            id: "confirmAndContinue"
          },
          text:  "Confirm and continue"
      }) }}

    </div>
  </div>
{% endblock %}
