{% extends 'form-layout.html' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 id="pageTitle" class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if ownerApplicant %}

        {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "name",
          name: "name",
          value: name,
          spellcheck: false,
          errorMessage: fieldErrors['name']
        }) }}

        {{ govukInput({
          label: {
            text: "Business name (optional)"
          },
          hint: {
            text: "We only need this if your business owns the item"
          },
          id: "businessName",
          name: "businessName",
          value: businessName,
          spellcheck: false,
          errorMessage: fieldErrors['businessName']
        }) }}

      {% elif applicant %}

        {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "name",
          name: "name",
          value: name,
          spellcheck: false,
          errorMessage: fieldErrors['name']
        }) }}

      {% else %}

        <p id="why-required">We need these because the owner is legally responsible for all the information you provide.</p>

        <p id="business-text">If the owner is a business, give the business details.</p>

        {{ govukInput({
          label: {
            text: "Full name or business name"
          },
          id: "name",
          name: "name",
          value: name,
          spellcheck: false,
          errorMessage: fieldErrors['name']
        }) }}

      {% endif %}

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "emailAddress",
        name: "emailAddress",
        type: "email",
        value: emailAddress,
        autocomplete: "email",
        spellcheck: false,
        errorMessage: fieldErrors['emailAddress']
      }) }}

      {{ govukInput({
        label: {
          text: "Confirm email address"
        },
        id: "confirmEmailAddress",
        name: "confirmEmailAddress",
        type: "email",
        value: confirmEmailAddress,
        autocomplete: "email",
        spellcheck: false,
        errorMessage: fieldErrors['confirmEmailAddress']
      }) }}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}
    </div>
  </div>
{% endblock %}
