{% extends 'form-layout.html' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 id="pageTitle" class="govuk-heading-l">{{ pageTitle }}</h1>

      <p id="helpText">{{ helpText }}</p>

      <ul id="helpTextList" class="govuk-list govuk-list--bullet">
        <li>Arts Council England</li>
        <li>Museums Galleries Scotland</li>
        <li>Northern Ireland Museums Council</li>
        <li>the Museums, Archives and Libraries Division of the Welsh Government</li>
      </ul>

      {{ govukRadios({
        idPrefix: "areYouAMuseum",
        name: "areYouAMuseum",
        errorMessage: fieldErrors['areYouAMuseum'],
        items: items
      }) }}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
