{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p id="helpText">{{ helpText }}</p>

        <ul id="helpTextList" class="govuk-list govuk-list--bullet">
          <li>Arts Council England</li>
          <li>Scottish Ministers</li>
          <li>Northern Ireland Museums Council</li>
          <li>the Welsh Government</li>
        </ul>

        <p id="moreInfoLink">More information can be found within the <a href="https://www.artscouncil.org.uk/document/list-accredited-museums-uk-channel-islands-and-isle-man" target="_blank" rel="noopener noreferrer">Arts Councils List of Accredited Museums</a> (opens in a new window or tab).</p>

        {{ govukRadios({
          idPrefix: "areYouAMuseum",
          name: "areYouAMuseum",
          errorMessage: fieldErrors['areYouAMuseum'],
          items: items
        }) }}

      {% endcall %}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
