{% extends 'form-layout.html' %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 id="pageTitle" class="govuk-heading-l">{{ pageTitle }}</h1>

      <p id="helpText1a">To use this service, you must know for sure whether your item qualifies for exemption.</p>

      <p id="helpText1b">If you’re uncertain about your item and you choose to declare it anyway, we’ll assume it does contain elephant ivory.</p>
      
      {{ govukInsetText({
        id: "callOutText",
        text: "You may need to get an expert to check it for you, such as an antiques dealer or auctioneer that specialises in ivory."
      }) }}

      <h2 id="heading2" class="govuk-heading-m">What you can do with this item</h2>

      <p id="helpText2">In the meantime, your options include:</p>

      <ul id="helpTextList" class="govuk-list govuk-list--bullet">
        <li>keeping it</li>
        <li>giving it away as a gift</li>
        <li>leaving it to someone in your will</li>
      </ul>

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Finish and return to GOV.UK"
        })
      }}

    </div>
  </div>
{% endblock %}
