{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}
      
        <p id="helpText">{{ helpText }}</p>

        {% set html %}
          <p id="helpText2">Elephant ivory is the most common type of ivory. However it can be extremely difficult to tell the difference between:</p>
          
          <ul id="helpTextList" class="govuk-list govuk-list--bullet">
            <li>other types of ivory, such as walrus</li>
            <li>fake ivory, such as ivorine</li>
            <li>certain types of animal bone</li>
          </ul>

          <p id="helpText3">There are methods available that can help determine the species of ivory, such as using ‘Schregar lines’, but these methods are often destructive to ivory. The Convention on International Trade in Endangered species of Wild Fauna and Flora (CITES) has <a href="{{ guidanceUrl }}" id="guidance" target="_blank" rel="noopener noreferrer">guidance on identifying ivory (opens in a new tab)</a></p>

          <p id="helpText4">If you are not sure what type of ivory about the item you want to sell or buy contains, you should speak to consult an expert first. An expert might be such as an antiques dealer or auctioneer who specialises in ivory.</p>
        {% endset %}

        {{ govukDetails({
          id: "howDoIKnow",
          summaryText: "How do I know if my ivory is elephant ivory?",
          html: html
        }) }}

        {{ govukRadios({
          idPrefix: "containElephantIvory",
          name: "containElephantIvory",
          errorMessage: fieldErrors['containElephantIvory'],
          items: items
        }) }}

      {% endcall %}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
