{% extends 'form-layout.html' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 id="pageTitle" class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if not hasSpecies %}
        <p class="govuk-body" id="para1">You only need to tell us if you are intending to sell or hire out an item that contains ivory from:</p>
        <ul class="govuk-list govuk-list--bullet" id="speciesList">
          {% for species in speciesList %}
            <li id="species{{ loop.index }}">{{ species }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if isMuseum %}
        <p class="govuk-body" id="para2">Qualifying museums do not need to tell us when they sell or hire out ivory items to each other.</p>
      {% endif %}

      {{ govukButton({
          attributes: {
            id: "finish"
          },
          text: "Finish and return to GOV.UK"
        })
      }}

    </div>
  </div>
{% endblock %}
