{% extends 'form-layout.html' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% block bodyStart %}
  {% set html %}
    <p class="govuk-body">By continuing to the next page, you are agreeing to us using essential cookies to make this service work</p>
  {% endset %}

  <form method="POST">
    {{ govukCookieBanner({
      ariaLabel: "Cookies on " + serviceName,
      hidden: hideBanner,
      messages: [
        {
          headingText: "Cookies on " + serviceName,
          html: html,
          actions: [
            {
              text: "Hide",
              type: "submit",
              name: "cookies",
              value: true
            },
            {
              text: "View cookies",
              href: "/cookie-policy"
            }
          ]
        }
      ]
    }) }}
  </form>
{% endblock %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {{ govukRadios({
          idPrefix: "howCertain",
          name: "howCertain",
          fieldset: {
            legend: {
              text: pageTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: fieldErrors['howCertain'],
          hint: {
            html: "<p id=\"help1\">If you know your item's eligible you can continue to either:</p>
                  <ul class=\"govuk-list govuk-list--bullet\">
                    <li>register it as a standard exemption</li>
                    <li>apply for an exemption certificate if it's a rare and important item</li>
                  </ul>
                  <p id=\"help2\">If you're not sure your item's eligible, you can answer a series of questions to help you find out.</p>"
          },
          items: [
            {
              value: "Yes, I know my item's eligible",
              text: "Yes, I know my item's eligible"
            },
            {
              value: "I need help to find out",
              text: "I need help to find out"
            }
          ]
        }) }}

        {{ govukButton({
            attributes: {
              id: "continue"
            },
            text: "Continue"
          })
        }}

    </div>
  </div>
{% endblock %}
