{% extends 'form-layout.html' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% block bodyStart %}
  {% set html %}
    <p class="govuk-body">By continuing to the next page, you are agreeing to us using essential cookies to make this service work</p>
  {% endset %}

  <form method="POST">
    {{ govukCookieBanner({
      ariaLabel: "Cookies on " + serviceName,
      hidden: hideBanner,
      messages: [
        {
          headingText: "Cookies on " + serviceName,
          html: html,
          actions: [
            {
              text: "Hide",
              type: "submit",
              name: "cookies",
              value: true
            },
            {
              text: "View cookies",
              href: "/cookie-policy"
            }
          ]
        }
      ]
    }) }}
  </form>
{% endblock %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {{ govukRadios({
          idPrefix: "howCertain",
          name: "howCertain",
          fieldset: {
            legend: {
              text: pageTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: fieldErrors['howCertain'],
          hint: {
            html: '<p id="help1">To use this service, you must be completely certain.</p>
                    <p id="help2">If you’re still unsure, we can help you decide.</p>'
          },
          items: [
            {
              value: "Completely",
              text: "Completely"
            },
            {
              value: "I’d like some help to work this out",
              text: "I’d like some help to work this out"
            }
          ]
        }) }}

        {{ govukButton({
            attributes: {
              id: "continue"
            },
            text: "Continue"
          })
        }}

    </div>
  </div>
{% endblock %}
