{% extends 'form-layout.html' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 id="pageTitle" class="govuk-heading-l">{{ pageTitle }}</h1>

      <p id="helpText">{{ helpText }}</p>

      <ul id="helpTextList" class="govuk-list govuk-list--bullet">
        <li>a stamp, serial number or signature on the item to prove its age</li>
        <li>a dated receipt showing when the item was bought or repaired</li>
        <li>a dated publication that shows or describes the item</li>
        <li>personal knowledge or evidence that the item has been in the family since before 1 January 1918</li>
        <li>written verification from a relevant expert</li>
      </ul>

      {{ govukRadios({
        idPrefix: "isItemPre1918",
        name: "isItemPre1918",
        errorMessage: fieldErrors['isItemPre1918'],
        items: items
      }) }}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
