{% extends 'form-layout.html' %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 id="pageTitle" class="govuk-heading-l">{{ pageTitle }}</h1>

      <p id="helpText">{{ helpText }}</p>

      <ul id="helpTextList" class="govuk-list govuk-list--bullet">
        <li>have been made before 1 January 1918</li>
        <li>be a rare and socially significant example of its type</li>
      </ul>

      {{ govukDetails({
        id: "howDoIKnow",
        summaryText: "How do I know if my item has outstandingly high artistic, cultural or historic value?",
        html: '<p>Each item is assessed individually by recognised experts. They set a very high threshold when approving items for sale or hire.</p>
              <p>They’ll consider various things, such as whether an item:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>is unique or extremely rare</li>
                <li>is of high artistic or aesthetic quality, for example from a known artist, school or studio</li>
                <li>is in better condition than other items like it</li>
                <li>is part of a well-known collection</li>
                <li>has an important history</li>
                <li>is important to a specific place or region</li>
                <li>has previously been recognised for its value or status, for example being recognised as a national treasure</li>
              </ul>'
      }) }}

      {{ govukRadios({
        idPrefix: "rmiAndPre1918",
        name: "rmiAndPre1918",
        errorMessage: fieldErrors['rmiAndPre1918'],
        items: items
      }) }}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
