{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

        <p class="govuk-body" id="helpText">The item must have been made before 1 January 1918 and be:</p>
        <ul class="govuk-body">
          <li id="bullet1">rare</li>
          <li id="bullet2">an important example of its type</li>
          <li id="bullet3">or both of the above</li>
        </ul>

        {% set detailHtml %}
          <p class="govuk-body" id="para5">Each item is assessed individually by recognised experts. They set a very high threshold when advising whether an item meets these criteria.</p>

          <p class="govuk-body" id="para6">They’ll consider various things, such as whether an item:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li id="bullet4">is unique or extremely rare</li>
            <li id="bullet5">is of high artistic or aesthetic quality, for example from a known artist, school or studio</li>
            <li id="bullet6">is in better condition than other items like it</li>
            <li id="bullet7">is part of a well-known collection</li>
            <li id="bullet8">has an important history</li>
            <li id="bullet9">is important to a specific place or region</li>
            <li id="bullet10">has previously been recognised for its value or status, for example being recognised as a national treasure</li>
          </ul>
        {% endset -%}

        {{ govukDetails({
          id: "howDoIKnow",
          summaryText: "How do I know if my item has outstandingly high artistic, cultural or historic value?",
          html: detailHtml
        }) }}

        {{ govukRadios({
          idPrefix: "rmiAndPre1918",
          name: "rmiAndPre1918",
          errorMessage: fieldErrors['rmiAndPre1918'],
          items: items
        }) }}

      {% endcall %}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
