{% extends 'form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

        <p id="helpText">{{ helpText }}</p>

        <ul id="helpTextList" class="govuk-list govuk-list--bullet">
          <li>Arts Council England for museums in England, the Channel Islands or the Isle of Man</li>
          <li>Scottish Ministers for museums in Scotland</li>
          <li>Northern Ireland Museums Council for museums in Northern Ireland</li>
          <li>the Welsh Government for museums in Wales</li>
        </ul>

        <p>If the museum is located anywhere else it must be a member of the International Council of Museums.</p>

      {% endcall %}

      {{ govukRadios({
        idPrefix: "sellingToMuseum",
        name: "sellingToMuseum",
        errorMessage: fieldErrors['sellingToMuseum'],
        items: items
      }) }}

      {{ govukButton({
          attributes: {
            id: "continue"
          },
          text: "Continue"
        })
      }}

    </div>
  </div>
{% endblock %}
